.container {
  padding: 0 34px 120px;
  @media screen and (min-width: 800px) {
    padding: 0 0 120px;
  }
  h2 {
    font-size: 26px;
    margin: 0 0 30px;
    @media screen and (min-width: 800px) {
      font-size: 52px;
      margin: 0 0 90px;
    }
  }
  h3 {
    color: #b8a078;
  }
}

.row {
  @media screen and (min-width: 800px) {
    display: flex;
    .column {
      width: 50%;
    }
  }
}

.characteristic {
  display: flex;
  padding: 12px 0;
  .name {
    width: 180px;
    font-weight: 600;
  }
}

.colors {
  display: flex;
  gap: 30px;
  font-weight: 600;
  @media screen and (min-width: 800px) {
    gap: 40px;
  }
}

.dot {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  margin: 0 auto 8px;
}
