.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px 80px;
  @media screen and (min-width: 800px) {
    padding: 0 0 80px;
  }
  h1 {
    font-size: 50px;
    margin: 0 0 70px;
  }
  .products {
    @media screen and (min-width: 800px) {
      display: grid;
      grid-template-columns: repeat(4, 283.5px);
      gap: 22px;
      padding: 0 0 60px;
    }
  }
  .foot {
    display: flex;
    justify-content: flex-end;
    .link {
      cursor: pointer;
    }
  }
}

.product {
  cursor: pointer;
  margin-bottom: 40px;
  .image {
    height: 400px;
    position: relative;
    .new {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 20px;
      background: #000;
      color: #fff;
    }
  }
  .name {
    padding-top: 24px;
    font-size: 24px;
    font-weight: 600;
  }
  .desc {
    padding-top: 16px;
    .limit {
      max-height: 62px;
      overflow: hidden;
      position: relative;
      // &::after {
      //   height: 22px;
      //   width: 100%;
      //   left: 0;
      //   bottom: 0;
      //   position: absolute;
      //   background: linear-gradient(rgba(255, 255, 255, 0.5), white);
      //   content: "";
      //   display: block;
      // }
    }
    .more {
      padding-top: 20px;
      text-align: right;
      font-weight: 600;
    }
  }
}
