.container {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (min-width: 800px) {
    padding: 40px 0;
  }
}

.empty {
  padding: 100px 0;
}

.products {
  padding: 40px 0 0;
  display: grid;
  grid-template-columns: repeat(2, calc(50% - 6px));
  gap: 12px;
  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(5, 230px);
  }
}
