.container {
  padding: 40px 0;
  max-width: 1200px;
  margin: 0 auto;
}

.empty {
  padding: 100px 0;
}

.products {
  padding: 40px 0;
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(5, 230px);
}